<div id="overlay">
    <div class="spinner"></div>
    <br/>
    Loading...
</div>


<div class="row">
  <div class="col-md-12">
    <app-card cardTitle="Informes" [options]="false">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:">Informe</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
      </nav>
      <div class="row" id="vencimiento" >

        <div class="col-md-12" style="text-align: center; text-transform: uppercase; font-size: 22px;">
            <label for="" >Informe de Participación Emitidas</label>
        </div>

        <div class="col-md-12">
             <div class="alert alert-danger alert-dismissable" id="dangermessage" *ngIf="mostrarMensaje_err" >
                     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="scsbody">
                            <p *ngIf="mostrarMensaje_err">
                                <br>
                                <span style="font-weight: bold; font-size: 18px">{{ mensaje_error }}</span>
                            </p>
                        </div>
                </div>
          </div>
       
        <div class="col-md-12" style="margin-top: 20px;">
          <div class="row" id="filtro2" >
            <div class="col-md-10"></div>
            <div class="col-md-2">
              <button class="btn btn-success btn-sm" (click)="export('xlsx')" style="margin-right: 10px;"><i
                  class="feather icon-file"></i><br>Excel</button>
              <!-- <button class="btn btn-danger btn-sm"  style="margin-right: 10px;"><i
                  class="feather icon-file" ></i><br>Pdf</button> -->
            </div>
           
          </div>
        </div>

        <div class="col-md-12" id="libro" style="margin-top: 20px;">
          <div class="table-responsive">
            <table class="table table-hover mb-0" id="table1">
              <thead>
                <tr>
                  <th>LOCAL</th>
                  <th style="text-align: center;">MESA</th>
                  <th>ORDEN</th>
                  <th style="text-align: center;">CI</th>
                  <th>NOMBRE</th>
                  <th>APELLIDO</th>
                  <th>SEXO</th>
                  <th>PRE-CANDIDATO</th>
                  <th>MONTO</th>
                  <th>HORA</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of listPartEmit" style="text-transform: uppercase;">
                  <td>{{list.vot_loc}}</td>
                  <td style="text-align: center;">{{list.vot_mesa}}</td>
                  <td>{{list.vot_orden}}</td>
                  <td style="text-align: center;">{{list.vot_ci}}</td>
                  <td>{{list.vot_nombre}}</td>
                  <td>{{list.vot_apellido}}</td>
                  <td>{{list.vot_sexo}}</td>
                  <td>{{list.vot_consejal}}</td>
                  <td>{{list.vot_monto}}</td>
                  <td>{{list.vot_hora}}</td>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

     
      <div class="horizontal-scroll">
        <!-- <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
          [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
        </ngb-pagination> -->
      </div>
    </app-card>
  </div>
</div>

