#overlay {
    background: #ffffff;
    color: #0d6efd;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
  }
  .spinner {
      margin: 0 auto;
      height: 64px;
      width: 64px;
      animation: rotate 0.8s infinite linear;
      border: 5px solid rgb(34, 96, 178);
      border-right-color: transparent;
      border-radius: 50%;
  }
  @keyframes rotate {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }

#contenDiv {
    border:  inset ;
    padding: 10px;
    margin: 10px;
}

label{
    font-weight: bold;
}

h1{
    text-align: center;
    background-color: color rgb(105, 103, 100);
    font-family: 'Indie Flower', cursive;
     color: #0d6efd;
}

.footer { 
    padding: 10px; 
    background-color: #f8f9fa; 
    border-top: 1px solid #ddd; 
    font-size: 14px; 
}


/*
body { 
        font-family: 'Open Sans', sans-serif; 
        } 

h1, h2, .display-1, .display-2 { 
    font-family: 'Montserrat', sans-serif; 
    }
*/