

#titulo {
  color: #0d6efd;
  font-family: 'Indie Flower', cursive;
  }

  #logo_2 {
    float: left;
    margin-left: 10px; /* espacio con el texto */
}

#logo_1 {
    float: right;
    margin-right: 10px; /* espacio con el texto */
}

#logo_3 {
    float: center;
    margin-right: 10px; /* espacio con el texto */
}










  